<section class="s_advantages">
  <div class="container">
    <div class="row row-custom">
      <div class="offset-md-1 col-md-6 col-12 col-custom">
        <h1>Стажировка в IT компании</h1>
        <p>
        Мы плодотворно сотрудничаем с украинскими и зарубежными IT-работодателями, 
        чтобы обеспечить вам стажировку после выпуска.<br> 
        <span>Ваше трудоустройство – наша цель №1!</span>
        </p>
      </div>

      <div class="col-md-4 col-12 push_down col-custom">
        <h1>CV/РЕЗЮМЕ</h1>
        <p>
        Мы поможем вам составить конкурентоспособное резюме
        с учётом ваших знаний и навыков. “Стрессоустойчивый” 
        и “быстрообучаемый”<br> 
        <span>уже не в тренде))</span>
        </p>
      </div>

      <div class="offset-md-1 col-md-4 col-12 col-custom">
        <h1>ТЕСТОВОЕ ИНТЕРВЬЮ</h1>
        <p>
        Наши HR-специалисты проведут для вас тренинг по подготовке к собеседованию, после которого вы:<br>
        - обретете дополнительную уверенность в себе<br>
        - научитесь себя правильно подавать<br>
        - получите больше шансов <br>
        на успешное трудоустройство
        </p>
      </div>

      <div class="col-md-6 col-12 push_down col-custom">
        <h1>РЕКОМЕНДАЦИИ И СЕРТИФИКАТ</h1>
        <p>
        *По окончанию обучения мы порекомендуем нашим партнерам всех студентов, которые успешно прошли курс, посещали все лекции и выполнили все домашние задания. Также студенты получат сертификат IT-школы
        о прохождении курса.
        </p>
      </div>
    </div>

  </div>
</section>
