<div class="s_map">
  <div class="container">
    <div class="row row-custom">
      <div class="map-container col-custom">
        <div class="map-wrap">
          <div id="map"></div>
        </div>
      </div>
      {{> contact}}
    </div>
  </div>
  {{> copyright}}
</div>
