<nav class="navbar navbar-toggleable-md">
    <div class="container">
        {{#if showMenu}}
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: #999;">&#9776;</span>
            </button>
        {{/if}}
        
        <a class="col-2 navbar-brand" href="/"><img src="/media/icons/logo0.svg" alt="logo" height="50"></a>

        {{#if showMenu}}

            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="#s_index">о нас<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#s_course">услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#s_teacher">цены</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#s_reviews">портфолио</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#s_contact">контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#s_contact">блог</a>
                    </li>
                </ul>
            </div>

        {{/if}}

        {{#if showLogout}}
            <div class="nav-item js-logout" style="text-align: right;width: 100%;left: auto;margin: 0;">
                <a href="/" class="nav-link js-logout">LOGOUT</a>
            </div>
        {{/if}}
    </div>
</nav>
