<section class="s_reviews has-triangle">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="s_title">Отзывы</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
        <div id="s_reviews__carousel" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="col-md-3 col-sm-12 col-12">
                <figure>
                  <div class="profile-img"></div>
                  <figcaption>
                    <h5>Александр Петров</h5>
                    <small>Freelancer</small>
                  </figcaption>
                </figure>
              </div>
              <div class="col-md-9 col-sm-12 col-12">
                <h4>
                  “Недавно я прошел курс “Верстка” в Real IT. До этого я пытался сам учить HTML по книгам и видеоурокам, но не хватало живого общения с преподавателем, возможности сразу же получить ответ на возникший вопрос. Спасибо Анне за понятные объяснения основ программирования! Конечно же, по окончании курса  я не стал крутым программистом, но я убедился, что веб-разработка - это то, с чем я хочу связать свою жизнь. Уже записался на курс по front-end))”
                </h4>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-md-3 col-sm-12 col-12">
                <figure>
                  <div class="profile-img"></div>
                  <figcaption>
                    <h5>Сергей Коваленко</h5>
                    <small>Junior Back-end Developer в Fintegro</small>
                  </figcaption>
                </figure>
              </div>
              <div class="col-md-9 col-sm-12 col-12">
                <h4>
                  “Я окончил курс Frontend-development и могу смело рекомендовать школу Real IT всем, кто желает получить актуальное образование, способное обеспечить вас работой.
                  Благодарен преподавателям - специалистам с многолетним опытом работы в IT-сфере, за интересные и познавательные занятия. Я очень доволен, что выбрал именно вашу школу. Спасибо за полученные знания и комфортные условия обучения!”
                </h4>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev" href="#s_reviews__carousel" role="button" data-slide="prev">
            <img src="/media/icons/left-arrow.svg" width="55" alt="carousel-control"/>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#s_reviews__carousel" role="button" data-slide="next">
            <img src="/media/icons/right-arrow.svg" width="55" alt="carousel-control"/>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
