<section class="s_teacher has-triangle">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Преподаватели</h1>
      </div>
    </div>

    <div class="row">

      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="teacherSVG">
        <defs>
        <pattern id="img1" patternUnits="userSpaceOnUse" width="100%" height="200">
          <image xlink:href="/media/photo/200x200/2.png" x="245" y="1" width="200" height="200" />
        </pattern>

        <pattern id="img2" patternUnits="userSpaceOnUse" width="100%" height="200">
          <image xlink:href="/media/photo/200x200/4.png" x="690" y="1" width="200" height="200" />
        </pattern>
        
        <pattern id="img3" patternUnits="userSpaceOnUse" width="100%" height="100%">
          <image xlink:href="/media/photo/200x200/3.png" x="1" y="400" width="200" height="200" />
        </pattern>
        
        <pattern id="img4" patternUnits="userSpaceOnUse" width="100%" height="200">
          <image xlink:href="/media/photo/200x200/1.png" x="460" y="1" width="200" height="200" />
        </pattern>
        
        <pattern id="img5" patternUnits="userSpaceOnUse" width="100%" height="200">
          <image xlink:href="/media/photo/200x200/5.png" x="900" y="1" width="200" height="200" />
        </pattern></defs>

        <rect class="teacherBorder" x="245" y="1" width="200" height="200" stroke="black" fill="url(#img1)" stroke-width="1"/>
        <rect class="teacherBorder" x="690" y="1" width="200" height="200" stroke="black" fill="url(#img2)" stroke-width="1"/>
        <rect class="teacherBorder" x="1" y="400" width="200" height="200" stroke="black" fill="url(#img3)" stroke-width="1"/>
        <rect class="teacherBorder" x="460" y="400" width="200" height="200" stroke="black" fill="url(#img4)" stroke-width="1"/>
        <rect class="teacherBorder" x="900" y="400" width="200" height="200" stroke="black" fill="url(#img5)" stroke-width="1"/>

        <path class="lineStartEnd" d="M1 300 L120 300 L120 400" fill="none" stroke="black"/>
        <path class="lineBetween" d="M120 320 L345 320 L345 200" fill="none" stroke="black"/>
        <path class="lineBetween" d="M345 280 L570 280 L570 400" fill="none" stroke="black"/>
        <path class="lineBetween" d="M570 340 L795 340 L795 200" fill="none" stroke="black"/>
        <path class="lineBetween" d="M795 300 L1020 300 L1020 400" fill="none" stroke="black"/>
        <path class="lineStartEnd" d="M1020 310 L1140 310 L1140 310" fill="none" stroke="black"/>

        <text x="50" y="100" >Денис Черкасов</text>
        <text x="25" y="130" data-font-size="14">CEO at Fintegro Company</text>

        <text x="920" y="100">Юрий Олейник</text>
        <text x="921" y="130" data-font-size="14">Project Manager, QA</text>

        <text x="15" y="630">Андрей Воропай</text>
        <text x="40" y="660" data-font-size="14">Team Leader</text>

        <text x="490" y="630">Анна Куприна</text>
        <text x="485" y="660" data-font-size="14">Front-end Developer</text>

        <text x="925" y="630">Ольга Сладкова</text>
        <text x="925" y="660" data-font-size="14">Full Stack Developer</text>

      </svg>
    </div>
  </div>
</section>
