/*
 * Support Tool ::: CORE SCSS FILE
 * Owner: Anton Ashin
 *
 * SMACSS + SCSS starter v2.1
 * Inspired by SMACSS http://smacss.com
 * Coding rules : https://github.com/necolas/idiomatic-css
 *
 * Author: Anton Ashin
 * Author email: antonashin@gmail.com
 * Author Web: http://www.antonashin.pp.ua
 *
 */
.brown-color {
  color: #54301a; }

.lighten-black {
  color: #333; }

a {
  color: #8542a8; }
  a:hover, a:active, a:visited {
    color: rgba(134, 67, 170, 0.72); }

.slider {
  height: 480px;
  overflow: hidden;
  background-size: cover;
  background: url("img/bg/home_page_bg.jpg") no-repeat top center; }

.globalInfo {
  background: #f2f2f2; }
  .globalInfo p:not(.globalInfo-item--title) {
    font-size: 14px;
    font-family: GOTHIC, sans-serif; }
  .globalInfo p {
    color: #333; }
  .globalInfo img {
    width: 50px;
    float: left;
    margin-right: 1.5rem; }
  .globalInfo-item {
    margin: 30px 0;
    padding-right: 30px; }
    .globalInfo-item:not(.without-border) {
      border-right: 1px solid #cacaca; }
    .globalInfo-item--title {
      text-transform: uppercase;
      font-size: 16px; }

.service,
.aboutPreview,
.confidence {
  border-bottom: 1px solid #cacaca; }

.aboutPreview,
.confidence {
  padding: 60px; }
  .aboutPreview h3,
  .confidence h3 {
    text-transform: uppercase; }

.service {
  padding: 80px 0 40px; }
  .service-more {
    text-transform: uppercase;
    float: right; }

.aboutPreview img {
  max-width: 100%; }
.aboutPreview p {
  font-family: GOTHIC, sans-serif;
  line-height: 1.75; }

.confidence .carousel-slider .carousel-slider__item img {
  width: auto; }
.confidence .owl-carousel {
  margin-top: 70px; }

.l-about img {
  max-width: 100%;
  width: 100%;
  height: initial; }
.l-about .confidence {
  padding: 0; }

.l-blog img {
  max-width: 100%;
  height: auto; }

.l-blog-single img {
  width: 100%;
  height: auto; }

.l-contact .confidence {
  padding: 0; }

.header-line {
  width: 100%;
  height: 10px;
  background: #fad757;
  background: -moz-linear-gradient(left, #fad757 0%, #f06153 11%, #be3c70 22%, #77529c 34%, #330066 47%, #297bb6 60%, #679c2e 75%, #33cb64 85%, #f8d759 100%);
  background: -webkit-linear-gradient(left, #fad757 0%, #f06153 11%, #be3c70 22%, #77529c 34%, #330066 47%, #297bb6 60%, #679c2e 75%, #33cb64 85%, #f8d759 100%);
  background: linear-gradient(to right, #fad757 0%, #f06153 11%, #be3c70 22%, #77529c 34%, #330066 47%, #297bb6 60%, #679c2e 75%, #33cb64 85%, #f8d759 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fad757', endColorstr='#f8d759', GradientType=1); }

.static-nav {
  height: 100px;
  padding-top: 2rem;
  font-family: CenturyGothic, sans-serif;
  font-size: 13px; }
  .static-nav .navbar-brand {
    height: 80px;
    padding: 0;
    position: relative;
    top: -1rem; }
  .static-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .static-nav .brown-color,
  .static-nav .lighten-black {
    margin-bottom: 7px;
    display: block; }
  .static-nav .lighten-black,
  .static-nav .email,
  .static-nav .tel {
    font-size: 14px; }

.nav-list-container {
  padding: 0;
  background: #f8f8f8; }
  .nav-list-container .main-navigation {
    margin-bottom: 0;
    border: 0;
    min-height: 40px; }
  .nav-list-container .navbar-nav {
    display: table;
    table-layout: fixed;
    width: 100%; }
    .nav-list-container .navbar-nav li {
      float: none;
      display: table-cell;
      text-align: center;
      width: calc(100% / 6);
      text-transform: uppercase;
      font-size: 16px; }
    .nav-list-container .navbar-nav a {
      padding: 10px;
      font-family: GOTHIC, sans-serif; }
      .nav-list-container .navbar-nav a:hover {
        background-color: #ececec !important; }

.kama_breadcrumbs {
  padding: 1rem 0; }

.globalFooter {
  padding: 25px 0 0;
  background: #f2f2f2;
  font-family: GOTHIC, sans-serif; }
  .globalFooter .copyright {
    text-align: center;
    margin-top: 70px; }
  .globalFooter .small-logo {
    margin-bottom: 25px; }
  .globalFooter h4 {
    margin-top: 70px;
    margin-bottom: 25px;
    text-transform: uppercase; }
  .globalFooter ul {
    list-style-type: none; }
  .globalFooter a {
    color: #000; }
  .globalFooter .contact-list li {
    padding-bottom: 1rem; }
  .globalFooter .social-list {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    display: table;
    table-layout: fixed; }
    .globalFooter .social-list li {
      display: table-cell;
      padding-right: 15px; }
      .globalFooter .social-list li a {
        background: url("img/icons/social.png") no-repeat;
        width: 40px;
        height: 40px;
        display: block;
        opacity: .75; }
      .globalFooter .social-list li:hover a {
        opacity: 1; }
      .globalFooter .social-list li:nth-of-type(1) a {
        background-position: 0 0; }
      .globalFooter .social-list li:nth-of-type(2) a {
        background-position: -52px 0; }
      .globalFooter .social-list li:nth-of-type(3) a {
        background-position: -106px -2px; }
  .globalFooter .footer-menu {
    margin-top: 50px; }
    .globalFooter .footer-menu li {
      padding-bottom: 15px; }
  .globalFooter .subscribeForm {
    margin-bottom: 15px; }
    .globalFooter .subscribeForm input, .globalFooter .subscribeForm button {
      border-radius: 0;
      height: 45px;
      border-color: #b3b3b3;
      font-family: GOTHIC, sans-serif; }
    .globalFooter .subscribeForm button {
      background: #8542a8;
      color: #fff;
      text-transform: uppercase; }

.jumbotron {
  padding: 0 !important;
  border-radius: 0 !important;
  background: transparent;
  cursor: pointer;
  color: #333;
  font-family: CenturyGothic, sans-serif; }
  .jumbotron h4 {
    text-transform: uppercase;
    margin: 0;
    padding: 14px;
    border-top: 1px solid red;
    background: #f7f7f7; }
  .jumbotron p {
    font-size: 14px;
    margin: 10px 0;
    padding: 0 14px;
    display: inline-block; }
  .jumbotron img {
    max-width: 100%;
    height: initial; }
  .jumbotron:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }

@font-face {
  font-family: GOTHIC;
  src: url("/wp-content/themes/mulberry/img/fonts/gothic.ttf"); }
@font-face {
  font-family: CenturyGothic;
  src: url("/wp-content/themes/mulberry/img/fonts/CenturyGothic/CenturyGothic.eot"), url("/wp-content/themes/mulberry/img/fonts/CenturyGothic/CenturyGothic.ttf"), url("/wp-content/themes/mulberry/img/fonts/CenturyGothic/CenturyGothic.woff"), url("/wp-content/themes/mulberry/img/fonts/CenturyGothic/CenturyGothicRegular.ttf"), url("/wp-content/themes/mulberry/img/fonts/CenturyGothic/CenturyGothicRegular.eot"), url("/wp-content/themes/mulberry/img/fonts/CenturyGothic/CenturyGothicRegular.woff"); }
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

.page-wrapper {
  min-height: 100%;
  margin-bottom: -535px; }

* html .page-wrapper {
  height: 100%; }

.page-buffer {
  height: 535px; }

a:hover {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
