<div class="user-chat chat-room-1 is-hide">
  <table>
    <thead>
      <tr>
        <th class="header">
          <p>Chat with admin</p>
          <button type="button" name="hideChat" class="ion-chevron-up"></button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="user-chat-wrapper">
          <div>
            <div class="msg msg-client">
              <span class="name">Client:</span>
              <span class="msg-text">123</span>
            </div>
            <div class="msg msg-admin">
              <span class="name">Admin:</span>
              <span class="msg-text">321</span>
            </div>
            <div class="msg msg-client">
              <span class="name">Client:</span>
              <span class="msg-text">123</span>
            </div>
            <div class="msg msg-admin">
              <span class="name">Admin:</span>
              <span class="msg-text">321</span>
            </div>
            <div class="msg msg-client">
              <span class="name">Client:</span>
              <span class="msg-text">123</span>
            </div>
            <div class="msg msg-admin">
              <span class="name">Admin:</span>
              <span class="msg-text">321</span>
            </div>
          </div>
        </td>

         {{!-- <td class="chat-sign">
          <div>
            <div class="msg msg-client">
              <span class="name">Client:</span>
              <span class="msg-text">123</span>
            </div>
            <div class="msg msg-admin">
              <span class="name">Admin:</span>
              <span class="msg-text">321</span>
            </div>
          </div>
        </td> --}}
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <input type="text" name="msg" placeholder="Message ... press enter to send" />
        </td>
      </tr>
    </tfoot>
  </table>
</div>
