// Index Layout

.s_index {
  background-image: url(/media/bg/index0.png);
  background-size: cover;
  background-position: right center;
  overflow: hidden;
  padding-bottom: 25px;
  padding-top: 60px;

  h1 {
    & > span {
      font-weight: bold;
    }
  }
}


.s_advantages {
  background-color: recipe-color('body-background');
  font-family: "Roboto", sans-serif;

  p {
    padding-right: 1.5rem;
  }

  .push_down{
    margin-top: 8rem;
  }

  h1 {
    position: relative;
    line-height: 1.25;
    margin-top: 0;
    text-transform: uppercase;
    color: recipe-color('light-black');
    padding-bottom: .75rem;
    font-weight: 300;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      background: #000;
      width: 0;
      height: 2px;
      transition: width 1s ease;
    }

    &.is-anim:after{
      width: 30%;
    }
  }

  p {
    color: recipe-color('dark-white');
    text-indent: 0;
    padding-top: 5px;
  }

  span{
    color: recipe-color('light-black');
  }

  /*
  @at-root .advantages-list:nth-of-type(1) {
  ul {
  @for $i from 1 through 4 {
  li:nth-of-type({$i}) {
  background: url('/media/icons/icon_adv{$i}.png') no-repeat;
  }
  }
  }
  }
   */
}

.s_course {
  background: url('/media/bg/texture_light.png');
  transition: height .5s ease;
  opacity: 1;

  & > .container:not(.l_course-wrapper) {
    transform: translateY(0);
    //top: 0;
    transition: transform .5s ease;
  }

  h1 {
    @extend %section-title;
    color: #3a3a3b;

    &:after{
      background-color: #3a3a3b;
    }
  }

  .row:nth-of-type(2) {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

.s_teacher{
  display: none;
  transition: background .5s ease;

  &.js-svg-end:before{
    background: #333 url(/media/bg/teacher.jpg) no-repeat;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.125;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    transform: rotateX(90deg);
    transform-origin: center;
    transition: transform .5s ease;
  }

  &.js-animation-end:before{
    transform: rotateX(0deg) !important;
  }

  h1{
    margin-bottom: 2.25rem;
    @extend %section-title;
  }


  h1:not(.invert-collor){
    color: recipe-color('light-black');

    &:after{
      background-color: recipe-color('light-black');
    }
  }

  h1.invert-collor{
    color: #fff;

    &:after{
      background-color: #fff;
    }
  }
}

.s_reviews {
  background: #484848 url('/media/bg/feedback.jpg') no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  display: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
  }

  h1{
    @extend %section-title;
    color: #fff;

    &:after{
      background-color: #fff;
    }
  }

  h4, small{
    font-family: "Roboto", sans-serif;
  }

  h4{
    font-weight: 100;
    margin-top: 0;
    line-height: 1.5;
  }

  small{
    font-style: italic;
  }

  h5{
    font-family: recipe-font('oswald');
    font-weight: 400;
    text-transform: uppercase;
  }

}


.s_contact {
  padding: 4rem 0;
  height: 100%;
  z-index: 999;
  background: #ededed;

  & > .row{
    margin-left: 0;
  }

  img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  h5{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: recipe-color('dark-white');
    margin-top: 60px;
  }

  small, small a {
    font-size: type-size('18');
    font-weight: 300;
    color: #1b1b1b;
    display: inline-block;
    padding: 0;
  }
}

.s_map{
  position: relative;
  background: #ededed;
  padding: 0;
  overflow: hidden;
}

@media screen and (min-width: 1025px){
  .s_index{
    margin-top: 65px;
  }
}

@media screen and (min-width: 768px){
  .s_teacher, .s_reviews{
    display: block;
  }
}

/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .s_course {
    padding-bottom: 20px;
  }

  .s_advantages .push_down{
    margin-top: 0;
  }


  .s_contact small,
  .s_contact small a{
    font-size: .75rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .s_index {
    .baner-index{
      width: 100%;
    }
  }


}

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .s_index {
    //height: 60%;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .s_index .baner-index{
    width: 290px;
  }

  .s_contact small,
  .s_contact small a{
    font-size: .75rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .s_index .baner-index {
    width: 100%;
  }

  .s_contact small,
  .s_contact small a{
    font-size: .75rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .s_index {
    min-height: 100vh;
    height: auto;

    h1 {
      font-size: 3.5rem;
    }
  }
}

/* ----------- iPhone 6+ ----------- */
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .s_index {
    //height: 100vh;

    h1 {
      font-size: 3rem;
    }
  }

  .s_advantages .push_down{
    margin-top: 0;
  }
}
