.l-about {
  font-family: CenturyGothic, sans-serif;
  line-height: 1.75;

  .kama_breadcrumbs{
    padding: 1rem 15px;
  }

  .entry-title{
    display: none;
  }

  img{
    max-width: 100%;
    width: 100%;
    height: initial;
  }

  .masonry{
    margin-top: 3rem !important;
  }

  article {
    padding: 0 15px;
    border-bottom: 0;
  }

  .owl-carousel{
    margin-top: calc(30px + 4rem) !important;
    margin-bottom: 3rem;

    &:before {
      content: '';
      height: 1px;
      width: 100%;
      background: #cacaca;
      position: absolute;
      top: -3rem;
    }
  }

  .entry-footer{
    margin-bottom: 3rem;
  }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
  .l-about{
    .confidence{
      padding: 10px 0;
    }
  }
}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}
