.l-blog,
.l-blog-single {
  .post-date {
    color: #cacaca;
    background: url("img/icons/date_blog.png") 0 2px no-repeat;
    padding-left: 22px;
  }
}

.l-blog {
  .blog-right-sidebar {
    margin-bottom: 50px;
  }

  .cat-count {
    color: #cacaca;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .text-sidebar-subblock {
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .category-list,
  .blog-random-post-block {
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 15px;
    }
  }

  .blog-random-post-block {
    margin-bottom: 100px;

    ul {
      img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
      }

      a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 170px;
        display: block;
        float: right;
        margin: 15px 0 5px;
        font-weight: bold;
      }
    }

    li > span {
      float: right;
      width: 170px;
    }
  }

  .post-date {
    color: #cacaca;
    background: url("img/icons/date_blog.png") 0 2px no-repeat;
    padding-left: 22px;
  }

  .category-list ul {
    margin-bottom: 40px;
  }
}

.l-blog {
  .entry-content {
    img {
      width: initial;
      max-width: 100%;
    }
  }

  .thumbnail {
    border-radius: 0;
    padding: 0;
  }

  .col-md-12 {
    .caption {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .caption {
    padding-left: 0;
    padding-top: 30px;

    .more-link {
      float: right;
      margin-top: 1rem;
    }
  }
}

.l-blog-single {
  img {
    width: 100%;
    height: auto;
  }

  .title-sidebar-subblock {
    text-transform: uppercase;
  }

  .blog-bottom-sidebar {
    border-top: 1px solid #cacaca;
    margin-top: 50px;
    padding-top: 50px;

    ul {
      width: 100%;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 50px;
      list-style-type: none;
    }

    li {
      flex-direction: column;
      float: none;
      align-items: stretch;
      width: 100%;
      max-width: 33%;
      flex: 0 0 33%;
      margin-bottom: 50px;
    }

    .post-wrap {
      border: 1px solid #cacaca;

      .post-mask {
        height: 200px;
        overflow: hidden;
        text-align: center;
      }

      img {
        //max-height: 200px;
        width: auto;
        max-width: 100%;
      }
    }

    footer {
      padding: 15px;
      margin-bottom: 20px;
      border-top: 1px solid #cacaca;

      a:not(.more-link) {
        display: block;
        margin-bottom: 10px;
        color: #000;
      }

      .post-date {
        float: left;
      }

      .more-link {
        float: right;
      }
    }
  }
}

/* DEFAULT Portrait */
@media only screen and (max-width: 1024px) {
  .l-blog .blog-random-post-block ul img {
    width: 60px;
    height: 60px;
  }

  .l-blog .blog-random-post-block li > span,
  .l-blog .blog-random-post-block ul a {
    width: 140px;
  }
}

/* IPAD Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .l-blog .caption {
    padding-left: 10px;
    padding-right: 10px;
  }

  .l-blog-single .blog-bottom-sidebar footer {
    margin-bottom: 0;
  }

  .l-blog-single .blog-bottom-sidebar footer .post-date {
    float: none;
  }

  .l-blog-single .blog-bottom-sidebar footer .more-link {
    float: none;
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .l-blog .caption {
    padding-left: 10px;
    padding-right: 10px;
  }

  .l-blog .caption {
    padding-left: 10px;
    padding-right: 10px;
  }

  .l-blog-single .blog-bottom-sidebar footer {
    margin-bottom: 0;
  }

  .l-blog-single .blog-bottom-sidebar footer .post-date {
    float: none;
  }

  .l-blog-single .blog-bottom-sidebar footer .more-link {
    float: none;
    display: block;
    width: 100%;
    margin-top: 1rem;
  }

  .post-date {
    display: none;
  }

  .l-blog-single .blog-bottom-sidebar .post-wrap .post-mask {
    height: 90px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .l-blog .caption {
    padding-left: 10px;
    padding-right: 10px;
  }

  .l-blog .caption {
    padding-left: 10px;
    padding-right: 10px;
  }

  .l-blog-single .blog-bottom-sidebar footer {
    margin-bottom: 0;
  }

  .l-blog-single .blog-bottom-sidebar footer .post-date {
    float: none;
  }

  .l-blog-single .blog-bottom-sidebar footer .more-link {
    float: none;
    display: block;
    width: 100%;
    margin-top: 1rem;
  }

  .post-date {
    display: none;
  }

  .l-blog-single .blog-bottom-sidebar .post-wrap .post-mask {
    height: 90px;
  }
}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .l-blog .caption {
    padding-left: 10px;
    padding-right: 10px;
  }

  .l-blog .caption {
    padding-left: 10px;
    padding-right: 10px;
  }

  .l-blog .caption {
    padding-left: 10px;
    padding-right: 10px;
  }

  .l-blog-single .blog-bottom-sidebar footer {
    margin-bottom: 0;
  }

  .l-blog-single .blog-bottom-sidebar footer .post-date {
    float: none;
  }

  .l-blog-single .blog-bottom-sidebar footer .more-link {
    float: none;
    display: block;
    width: 100%;
    margin-top: 1rem;
  }

  .post-date {
    display: none;
  }

  .l-blog-single .blog-bottom-sidebar .post-wrap .post-mask {
    height: 90px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .l-blog .caption {
    padding-left: 10px;
    padding-right: 10px;
  }

  .l-blog .caption {
    padding-left: 10px;
    padding-right: 10px;
  }

  .l-blog .caption {
    padding-left: 10px;
    padding-right: 10px;
  }

  .l-blog-single .blog-bottom-sidebar footer {
    margin-bottom: 0;
  }

  .l-blog-single .blog-bottom-sidebar footer .post-date {
    float: none;
  }

  .l-blog-single .blog-bottom-sidebar footer .more-link {
    float: none;
    display: block;
    width: 100%;
    margin-top: 1rem;
  }

  .post-date {
    display: none;
  }

  .l-blog-single .blog-bottom-sidebar .post-wrap .post-mask {
    height: 90px;
  }
}