.slider {
  max-height: 475px;
  overflow: hidden;
  background-size: cover;
  background: url('img/bg/home_page_bg.jpg') no-repeat top center;
}

.globalInfo {
  background: #f2f2f2;

  p:not(.globalInfo-item--title) {
    font-size: 14px;
    font-family: GOTHIC, sans-serif;
  }

  p {
    color: #333;
  }

  img {
    width: 50px;
    float: left;
    margin-right: 1.5rem;
  }

  &-item {
    margin: 30px 0;
    padding-right: 30px;

    &:not(.without-border) {
      border-right: 1px solid #cacaca;
    }

    &--title {
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}

.service,
.aboutPreview,
.confidence {
  border-bottom: 1px solid #cacaca;
}

.aboutPreview,
.confidence {
  padding: 60px 0;

  h3 {
    text-transform: uppercase;
  }
}

.service {
  padding: 80px 0 40px;

  &-more {
    text-transform: uppercase;
    float: right;
  }
}

.aboutPreview {

  img {
    max-width: 100%;
    height: inherit;
  }

  p {
    font-family: GOTHIC, sans-serif;
    line-height: 1.75;
    font-size: 16px;
  }

  &-more{
    text-transform: uppercase;
    margin-top: 4rem;
    display: inline-block;
  }
}

.confidence {
  .carousel-slider .carousel-slider__item img {
    width: auto;
  }

  .owl-carousel {
    margin-top: 30px;
    border: 1px solid #eee;
    padding: 3rem 0;
  }

  .owl-item{
    border-left: 1px solid #eee
  }

  .owl-prev,
  .owl-next{
    opacity: 1 !important;
  }
}
