<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel='dns-prefetch' href='https://maxcdn.bootstrapcdn.com'>
    <link rel='dns-prefetch' href='https://cdnjs.cloudflare.com'>

    <link rel="apple-touch-icon" sizes="180x180" href="/client/media/icons/favicon.png/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/client/media/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/client/media/icons/favicon-16x16.png" sizes="16x16">
    {{!-- <link rel="manifest" href="/client/media/icons/favicon.png/manifest.json"> --}}
    <link rel="mask-icon" href="/client/media/icons/favicon.png/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/client/media/icons/favicon.ico">
    <meta name="msapplication-config" content="/client/media/icons/favicon.png/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="yandex-verification" content="212e2ff5c67335b3" />


    <!-- TODO: Need move to NPM and Webpack -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.theme.default.min.css" />
    <title>Mulberry</title>
    <script> 
if(window.innerWidth >= 576){
  var a=[
    '/media/bg/teacher.jpg',
    '/media/bg/index0.png'
  ];
  var ai=[];
  for(var i=0; i<a.length; i++){ 
    ai[i] = new Image(); 
    ai[i].src = a[i]; 
  }
}
    </script>
  </head>

  <body style="opacity: 0;">

    {{{body}}}

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmJq4n0M1FRCgs4xD4f0b5KQyBmO4FC2I" type="text/javascript"></script>
    <script src="/js/build/modernizr-bundle.js"></script>
    <script src="/js/build/index.js"></script>
    <script src="/js/build/style.js"></script>
  </body>

</html>
