@import url('https://fonts.googleapis.com/css?family=Oswald:400,500|Roboto:100,300,300i,400,400i,700&subset=cyrillic');

$recipe-colors: (
'body-background': #fff,
'nav-background': #fbfcfe,
'dark-white': #a1a6ac,
'light-black': #3a3a3b,
'light-gray': #a1a6ac,
'light-red': #fa4542,
'red': #a20101
);

@function recipe-color($name) {
  @return map-get($recipe-colors, $name);
};

$recipe-fonts: (
'oswald': 'Oswald',
'roboto': 'Roboto'
);

@function recipe-font($name) {
  @return map-get($recipe-fonts, $name);
};

$type-settings: (
'14': .75rem,
'16': 1rem,
'18': 1.125rem,
'24': 1.5rem,
'28': 1.75rem,
'30': 1.875rem,
'40': 2.5rem,
);

@function type-size($size) {
  @return map-get($type-settings, $size);
};

$placeholderColor: #fff;
$placeholderColorInvert: #eee;
$placeholderOrigColor: #eee;

// Depricated
$black-mask: rgba(34,44,56, 0.7);
$yellow: #FAF400;
$lightYellow: rgba(248,244,0, 0.65);
$blue: #46647d;

$s_index-ff: 'Open Sans', sans-serif;
//
%section-title {
  position: relative;
  font-family: recipe-font('oswald');
  text-align: center;
  font-weight: 300;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;

  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 5rem;
    left: 50%;
    margin-left: -2.5rem;
    bottom: 6px;
  }
}
