<div class="custom-modal--courseContact my-modal">
  <header class="custom-modal-title">
    <!--<div class="logo"></div>-->
    <span class="close">&times;</span>
    </header>
    <div class="custom-modal-body">

      <form class="course-form" data-course="" data-role="validator">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12">
              <div class="form-group input-control">
                <input type="text" 
                       class="form-control" 
                       name="name" 
                       placeholder="Імя"
                       data-validate="name" 
                       data-validate-func="required, minlength"
                       data-validate-hints="Введите Ваше имя"
                       data-validate-arg=",3"
                       required>
              </div>
            </div>

            <div class="col-12 col-sm-12">
              <div class="form-group input-control">
                <input type="tel" 
                       class="form-control" 
                       name="phone" 
                       placeholder="Телефон"
                       data-validate="name" 
                       data-validate-func="required"
                       data-validate-hints="Введите Ваш номер телефона"
                       required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-12">
              <div class="form-group input-control">
                <input type="email" 
                       class="form-control" 
                       name="email" 
                       placeholder="Email"
                       data-validate="name" 
                       data-validate-func="required, email"
                       data-validate-hints="Введите Ваш email"
                       required>
              </div>
            </div>
            <!--<div class="col-12 col-sm-6">
              <div class="input-group">
              <div class="input-group-addon"><i class="ion-email" aria-hidden="true"></i></div>
              <textarea name="message" rows="10" placeholder="Повiдомлення"></textarea>
              </div>
              </div>-->
          </div>

          <br>

          <div class="row">
            <div class="col-12" style="text-align: center">
              <button type="submit" class="btn btn-lg btn-red js-get-course">Записаться</button>
            </div>
          </div>

        </div>
      </form>

    </div>
</div>
